@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@layer components {
  .mini-card {
    @apply px-2 py-1 rounded border border-purple-900 font-roboto font-bold text-xs w-max;
  }
}
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Poppins", sans-serif;
  color: #334680;
}

* {
  box-sizing: border-box;
}
